<!DOCTYPE html>
<html>
    <head>
       <title>Resilience</title>
       <link rel="stylesheet" href="mainstyles.css">  
    </head>
    <body>
      <header>
            <nav>
                <ul class = "navigation">
                   <li>BACK</li>
                   <li class="central">NEWSFEED</li>
                   <li class="central" id="selected">POST</li>
                   <li class="central">ACCOUNT</li>
                </ul>
            </nav>
        </header>
        <section>
            <div id = "fullPage">
                <div id = "displayQuote">
                    <p class = "quote">
                        <span class = "name">stanford_student:</span><br/>
                        "I am afraid that I will continue to fail and not get any better." <br/>
                    </p>
                    <span class = "tagsList">#math51 &nbsp; #stanfordstress</span>
                </div>
                  <h1 id = "commentTitle"> COMMENTS </h1>
                <div class = "feedPost">
                    <p class = "commentText">
                       <span class = "commenter">cooldude</span><br/>Keep at it dude.
                    </p>
                </div>
                <div class = "feedPost">
                    <p class = "commentText">
                        <span class = "commenter">enrique_allen</span><br/>Life is a prototype, we keep iterating to make ourselves better. It's better
                       to fail fast and often so you can succeed sooner.
                    </p>
                </div>
                <div class = "feedPost">
                    <p class = "commentText">
                        <span class = "commenter">stanford_student</span><br/>Don't worry. You will make it through and rule the world! One day when you're happy and it all works out, you'll remember this day and be appreciative.
                    </p>
                </div>
                <a class="commentButton" href="#" style="margin-left:-0.5px;"><p class="buttonText">COMMENT</p></a>
            </div>
        </section>
    </body>
</html>