<!DOCTYPE html>
<html>
    <head>
        <title>Newsfeed-Resilience</title>
        <link rel="stylesheet" href="mainstyles.css"> 
    </head>
    <body>
        <header>
            <nav>
                <ul class = "navigation">
                   <li>BACK</li>
                   <li class="central" id="selected">NEWSFEED</li>
                   <li class="central">POST</li>
                   <li class="central">ACCOUNT</li>
                </ul>
            </nav>
        </header>
        <section>
            <h1 id = "title"> MOST RECENT </h1>
            <div id = "newsfeed">
                <div class = "feedPost">
                    <p class = "postText">
                        Does it ever get better here? <span class = "tags">#froshyear</span> 
                    </p>
                    <div class = "buttons">
                        <a class="supportButton" href="#"><p class="buttonText">SUPPORT</p></a>
                        <a class="commentButton" href="#"><p class="buttonText">COMMENT</p></a>
                    </div>
                </div>
                <div class = "feedPost">
                    <p class = "postText">
                        That moment when you go in your room and burst out in tears, and
                        realize that no one knows how unhappy you really are. That's how I
                        feel at Stanford sometimes. Like I can't tell anyone what's 
                        actually going on. Does anyone else feel this way?
                        <span class = "tags">#careers</span>
                    </p>
                    <div class = "buttons">
                        <a class="supportButton" href="#"><p class="buttonText">SUPPORT</p></a>
                        <a class="commentButton" href="#"><p class="buttonText">COMMENT</p></a>
                    </div>
                </div>
                
                
                 <div class = "feedPost">
                    <p class = "postText">
                        Stanford CS sometimes feels like I'm pitted against all these people who
                        are way better than me, and even if I gave it all for four years
                        I still wouldn't even make it close to where they are.
                        <span class = "tags">#stanfordCS &nbsp; #cs140</span>
                    </p>
                     <div class = "buttons">
                        <a class="supportButton" href="#"><p class="buttonText">SUPPORT</p></a>
                        <a class="commentButton" href="#"><p class="buttonText">COMMENT</p></a>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>