<!DOCTYPE html>
<html>
    <head>
        <title>Post-Resilience</title> 
        <link rel="stylesheet" href="mainstyles.css"> 
    </head>
    <body>
        <header>
            <nav>
                <ul class = "navigation">
                   <li>BACK</li>
                   <li class="central">NEWSFEED</li>
                   <li class="central" id="selected">POST</li>
                   <li class="central">ACCOUNT</li>
                </ul>
            </nav>
        </header>
        <section>
              <h1 id = "title"> POST A COMMENT </h1>
              <div id = "fullPage">
               <!-- <p class = "sub">
                    Type your comment here. 
                </p>  -->
                <textarea placeholder="Type your comment here" class="styled" rows="10" cols="40"></textarea>
                <!--<h1 id = "tagTitle"> TAGS </h1>
                <p class = "sub">Separate tags with commas</p>  
                <textarea placeholder="e.g. math, careers" class="styled" rows="2" cols="40"></textarea>
                <a class="submitButton" href="#"><p class="postMe">POST</p></a> -->
                  <a class="submitButton" href="#"><p class="postMe">POST</p></a>
            </div>
        </section>        
    </body>
</html>