<!DOCTYPE html>
<html>
    <head>
        <title>LinkedIn</title>   
    </head>
    <body>
        <header>
            <div id = "logo">
                <a href="http://www.linkedin.com"><img src = "" /></a>
            </div>
            <nav id = "mainNav">
                <ul>
                    <li><a href = "#">Home</a></li>
                    <li><a href = "#">Profile</a></li>
                    <li><a href = "#">Contacts</a></li>
                    <li><a href = "#">Groups</a></li>
                    <li><a href = "#">Jobs</a></li>
                    <li><a href = "#">Inbox</a></li>
                    <li><a href = "#">Companies</a></li>
                    <li><a href = "#">News</a></li>
                    <li><a href = "#">More</a></li>
                </ul>
             <form id = "search">
                 <label for="searchBox">Search...</label>
                 <input type="search" placeholder="search..." id="searchBox">
                 <input type="submit" value="submit">
            </form>
            </nav>
        </header>
    </body>
</html>